@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Nanum Gothic', sans-serif; */

body{overflow-y:scroll; overflow-x:hidden;}
body::-webkit-scrollbar{width:16px;}
body::-webkit-scrollbar-track{background-color:#ddd;}
body::-webkit-scrollbar-thumb{background-color:#00a3d9;}
body::-webkit-scrollbar-thumb:hover{background-color:#660;}

/*레이아웃*/
#header{width:100%; height:100px; border-bottom:3px solid #202F5A; position:fixed; background:#fff; z-index:99;}
#main{height:950px; position:relative; top:100px;
overflow:hidden;}
#profile{height:955px; position:relative; margin-top:200px; background:#202F5A; color:#fff;}
#webstd{height:1000px; position:relative; padding-top:150px;}
#jquery{height:1000px; position:relative; padding-top:150px;}
#response{height:1000px; position:relative; padding-top:150px;}
#bstrap{height:1000px; position:relative; padding-top:150px;}
#mobile{height:1000px; position:relative; padding-top:150px; display:none;}
#design{height:1000px; position:relative; padding-top:150px; background:#F2F8FA;}

/*공통*/
.container{width:1280px; margin:0 auto; height:inherit; position:relative; overflow:hidden;}
.title{width:460px; height:140px; background:url(../images/titleBg.png) no-repeat 20px -25px; position:absolute; top:0; right:0;text-align:right;}
.title>ul li.titleName{font-size:50px;}
.color1{color:#FF914D;}
.fl{float:left;}
.cf::after{content:''; display:block; clear:both;}

/*헤더*/
.menuWrap{position:relative;}
.menu{overflow:hidden;}
.menu li{float:left; padding:0 25px;}
.menu li a{display:block; padding:2px 4px; line-height:100px; font-size:1.5em; text-align:center; color:#202F5A; text-transform:uppercase;}
.menu li.on a{color:#FF914D;}
.mLogo{margin-top:10px;}
.mLogo img{width:200px;}
.fav{position:absolute; top:70px; right:20px; display:block; padding:0 4px; font-weight:bold; background-color:#fff; color:#26376f;}

/*메인*/
#main .container{background:url(../images/mainImg.png) no-repeat right center; line-height:1420px;}

/*프로파일*/
#profile .container .title{
	padding-top:50px;
}
#profile_wrap{
	width:860px;
	height:955px;
	margin:0 auto;
	padding-top:280px;
}
#profile_wrap .textW{
	width:500px; 
	font-size:28px; 
	line-height:40px; 
	position:absolute; 
	top:150px; 
	left:50%; 
	margin-left:-250px;
}
.typed-cursor{
	
	color:#FF914D;
	margin-left:2px;
}
#profile_wrap div.ptitle{
	
}

.profile_about{
	width:728px;
	height:208px;
	margin:0 auto 40px;
	position:relative;
}
.profile_about h3{
	font-size:22px;
	text-align:center;
	font-weight:bold;
}
.profile_about .profile_img{
	
	margin-right:58px;
}
.profile_about .profile_img img{
	width:165px;
	height:165px;
	border-radius:50%;
	
}
.profile_about .profile_info{
	margin-top:40px;
	margin-right:90px;
}
.profile_about .profile_info ul li{
	margin-bottom:3px;
}
.profile_about .profile_info ul li a{
	color:#fff;
	text-decoration:underline;
}
.profile_about .profile_info ul li i{
	display:inline-block;
	margin-right:10px;
	text-align:center;
	width:20px;
}

.profile_about .profile_career{
	margin-top:40px;
}
.profile_about .profile_career ul li{
	margin-bottom:3px;
}
.profile_about .profile_career ul li i{
	display:inline-block;
	margin-right:10px;
	text-align:center;
	width:20px;
}


/* .content { 
  margin: 0 auto;
  padding: 0; 
  display: none; 
} */

.profile_skill{
	width:100%;
	height:378px;
}
.profile_skill h3{
	font-size:22px;
	text-align:center;
	font-weight:bold;
}


/*-------- Skill ---------*/
.skill-thumb strong,
.skill-thumb p {
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 8px;
    display: inline-block;
}

.skill-thumb .progress {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: none;
    height: 4px;
}

.skill-thumb .progress-bar-primary {
    background: #C1C3E7
}

.skill {
    overflow: hidden;
    width: 728px;
    margin: 3em auto;
    padding-top: 36px;
}

.skill .progress {
    background-color: #ddd;
    border-radius: 3px;
    box-shadow: none;
    height: 5px;
    overflow: visible;
    position: relative;
    margin-bottom: 60px;
}

.skill .progress .pro_title {
    left: 0;
    position: absolute;
    top: -27px;
    z-index: 99;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
	text-align:left;
}

.skill .progress .progress-bar {
    background-color: #FF914D;
    border-radius: 3px;
    box-shadow: none;
    height: 5px;
    position: relative;
    text-align: right;
}

.skill .progress-bar p {
    background-color: #2b3750;
    margin-top: -26px;
    margin-left: -48px;
    padding: 0 5px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    position: absolute;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.3;
}

.skill .progress-bar > p:before,
.skill .progress-bar > p:after {
    border: medium solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}

.skill .progress-bar > p:before {
    border-top-color: #454545;
    border-width: 5px;
    margin-left: 30px;
    top: 20px;
}


@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

/* webstd */
.webstd_cont .webstd_left{width:600px; position:absolute; top:120px; left:-600px;}
.webstd_cont .webstd_left p{width:500px; height:450px; position:relative; top:90px;}
.webstd_cont .webstd_right{width:600px; position:absolute; top:220px; right:-600px;}
.webstd_cont .webstd_text_top{width:600px; height:auto; border:2px solid #eee; left:-40px;}
.webstd_cont .webstd_text_top ul li::selection{background-color:#ddd; color:#ff0000;}
.webstd_cont .webstd_text_top .webstd_text_one{width:530px; height:120px; margin:0 auto; padding-top:80px; padding-bottom:20px;}
.webstd_cont .webstd_text_top .webstd_text_two{width:530px; height:120px; margin:0 auto; padding-top:50px; padding-bottom:80px;}
.webstd_cont .webstd_bold{font-size:18px; color:#555; font-family: 'Roboto', sans-serif; font-weight:bold;}
.webstd_cont .webstd_normal{color:#777;padding-top:20px;}
.hidden{display:block; width:502px; height:283px; overflow:hidden; position:relative; top:-336px; left:23px;}
.hidden>img{display:block; position:relative; top:0; left:0;}

/*jquery*/
.jquery_cont .jquery_left{width:400px; height:600px; position:absolute; left:0;top:250px;}
.jquery_cont .jquery_text_top{width:400px; height:auto;left:-40px;}
.jquery_cont .jquery_text_top .jquery_text_one{width:400px; height:250px; background:#fff; margin-bottom:20px; border:1px solid #eee; padding:20px 20px 0px 20px; display:none;}
.jquery_cont .jquery_text_top .jquery_text_two{width:400px; height:200px; background:#fff; margin-bottom:20px; border:1px solid #eee; padding:20px 20px 0px 20px; display:none; font-family: 'Roboto', sans-serif; }
.jquery_cont .jquery_bold{font-size:18px;font-family: 'Roboto', sans-serif;  color:#555; margin-bottom:10px;}
.jquery_cont .jquery_normal{line-height:2; font-size:13px; font-family: 'Roboto', sans-serif; }
.jquery_cont .sBold{margin-bottom:15px; font-weight:bold; font-family: 'Roboto', sans-serif; }
.jquery_cont .jquery_right{width:800px; position:absolute; top:150px; right:40px;}
.jquery_cont .jquery_right p{width:800px; height:450px; position:relative; top:90px; }
.jquery_cont .jquery_inner{width:667px; height:450px; background:#ccc; position:absolute; top:125px; left:65px; overflow:hidden;}
.hidden02>img{display:block; position:absolute; top:-1px;}
.jquery_com{position:relative;left:0;}


/* response */
.response_cont .response_left{width:600px; position:absolute; top:120px; left:-600px;}
.response_cont .response_left p{width:500px; height:450px; position:relative; top:90px;}
.response_cont .response_right{width:600px; position:absolute; top:220px; right:-600px;}
.response_cont .response_text_top{width:600px; height:auto; border:2px solid #eee; left:-40px;}
.response_cont .response_text_top ul li::selection{background-color:#ddd; color:#ff0000;}
.response_cont .response_text_top .response_text_one{width:530px; height:120px; margin:0 auto; padding-top:80px; padding-bottom:20px;}
.response_cont .response_text_top .response_text_two{width:530px; height:120px; margin:0 auto; padding-top:50px; padding-bottom:80px;}
.response_cont .response_bold{font-size:18px; color:#555; font-family: 'Roboto', sans-serif; font-weight:bold;}
.response_cont .response_normal{color:#777;padding-top:20px;}
.hidden{display:block; width:502px; height:283px; overflow:hidden; position:relative; top:-336px; left:23px;}
.hidden>img{display:block; position:relative; top:0; left:0;}

/*bstrap*/
.bstrap_cont .bstrap_left{width:400px; height:600px; position:absolute; left:0;top:250px;}
.bstrap_cont .bstrap_text_top{width:400px; height:auto;left:-40px;}
.bstrap_cont .bstrap_text_top .bstrap_text_one{width:400px; height:250px; background:#fff; margin-bottom:20px; border:1px solid #eee; padding:20px 20px 0px 20px; display:none;}
.bstrap_cont .bstrap_text_top .bstrap_text_two{width:400px; height:200px; background:#fff; margin-bottom:20px; border:1px solid #eee; padding:20px 20px 0px 20px; display:none; font-family: 'Roboto', sans-serif; }
.bstrap_cont .bstrap_bold{font-size:18px;font-family: 'Roboto', sans-serif;  color:#555; margin-bottom:10px;}
.bstrap_cont .bstrap_normal{line-height:2; font-size:13px; font-family: 'Roboto', sans-serif; }
.bstrap_cont .sBold{margin-bottom:15px; font-weight:bold; font-family: 'Roboto', sans-serif; }
.bstrap_cont .bstrap_right{width:800px; position:absolute; top:150px; right:40px;}
.bstrap_cont .bstrap_right p{width:800px; height:450px; position:relative; top:90px; }
.bstrap_cont .bstrap_inner{width:667px; height:450px; background:#ccc; position:absolute; top:125px; left:65px; overflow:hidden;}
.hidden02>img{display:block; position:absolute; top:-1px;}
.bstrap_com{position:relative;left:0;}

/*mobile*/
.mobile_cont .mobile_left{width:600px; position:absolute; top:120px; left:100px;}
.mobile_cont .mobile_left p{width:500px; position:relative; top:90px; height:90px;}
.mobile_cont .mobile_right{width:600px; position:absolute; right:10px; height:auto; top:220px;}
.mobile_cont .mobile_text_top{width:600px; height:auto; border:2px solid #eee; left:-40px;}
.mobile_cont .mobile_text_one{width:530px; height:120px; margin:0 auto; padding-top:80px; padding-bottom:20px;}
.mobile_cont .mobile_text_two{width:530px; height:120px; margin:0 auto; padding-top:50px; padding-bottom:80px;}
.mobile_cont .mobile_bold{font-size:18px; color:#555; font-family:'Roboto', sans-serif; font-weight:bold;}
.mobile_cont .mobile_normal{color:#777; padding-top:20px;}
.hidden{display:block;width:502px;height:283px;overflow:hidden;position:relative;top:-336px;left:23px;}
.hidden>img{display:block; position:relative; top:0; left:0;}

/*graphic->imggallery*/
.tab_content{width:1280px; height:640px; overflow:hidden; margin-top:200px; position:relative;}
.tab_content #gallery{
	position:absolute;
	left:50%;
	top:50%;
	margin:-297px 0 0 -412px;
	width:824px;
	height:595px;
}
#image{
	width:760px;
	height:470px;
	margin:0 auto;	
}
#image p{
	display:none;
	/* inline으로 display:block; 줬기때문에 첫번째 이미지만 보임 */
}
#image p img{
	width:760px;
	height:470px;
}
#thumbnail{
	position:relative;
	width:824px;
	height:95px;
	margin-top:30px;
}
#thumbnail div{
	float:left;

	/* 상위 thumbnail에 width와 height값이 있기때문에 cf 안해도됨 */
}
#thumbnail img{
	width:120px;
	height:75px;
}
#thumbnail .left,#thumbnail .right{
	position:absolute;
	top:-10%;
	width:33px;
	height:33px;
	padding-top:30px;
	text-align:center;
	cursor:pointer;
}
#thumbnail .left img, #thumbnail .right img{
	width:33px;
	height:33px;
}
#thumbnail .left{
	left:-10px;
}
#thumbnail .right{
	right:-10px;
}
#thumbnail .container{
	overflow:hidden;
	position:relative;
	left:33px;
	width:760px;
	height:95px;
}
#thumbnail ul{
	position:absolute;
	width:3072px; /* 120+8px = 128px * 6개 * 3덩어리 */
	margin-left:-8px;
}
#thumbnail .container .thumb{
	float:left;
	width:120px;
	height:95px;
	margin-left:8px;
	list-style:none;
	cursor:pointer;
}
#thumbnail .container .thumb .ml0{
	margin-left:0;
}

/*quickMenu*/
#floatdiv{position:absolute; top:250px; left:0; margin-left:10px;}
#floatdiv ul{list-style:none; border:0; margin:0; padding:0;}
#floatdiv ul li{list-style:none; border:0; margin:0; padding:0;}
#floatdiv ul li span{display:block; width:20px; height:20px; background:#ccc; margin:0 0 5px 0; cursor:pointer;}
#floatdiv ul li:hover span{background:#FF914D;}
#floatdiv ul li.active span{width:40px; height:20px; background:#202F5A;}













